<!DOCTYPE html>
<html lang="fr">
 {% block head %}
<head>
    <meta charset="UTF-8" />
    {% block title %}<title>Florent Genestier-Portfolio</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />

    <!-- =====BOX FONT===== -->
    <link rel="preconnect" href="{{ absolute_url('https://fonts.googleapis.com') }}">
    <link rel="preconnect" href="{{ absolute_url('https://fonts.gstatic.com') }}" crossorigin>
    <link href="{{ absolute_url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap') }}" rel="stylesheet">
    {% endblock %}
</head>
{% endblock head %}

{% block body %}
<body>
    <!--===== HEADER =====-->
    <header class="perso">
        <nav>
        <a href="{{ path('app_portfolio_home') }}#top"><img class="logo" src="{{ asset('images/logo/lg.png') }}" alt="Flo's logo"></a>
       
            <ul id="nav-list">
                <li><a class="link" href="{{ path('app_portfolio_home') }}#who">Qui ?</a></li>
                <li><a class="link" href="{{ path('app_portfolio_home') }}#dev-project">Projets</a></li>
                <li><a class="link" href="{{ path('app_portfolio_recommandations') }}">Recommandations</a></li>
                <li><a class="link" href="{{ asset('pdf/CV-FlorentGenestier-Dev.pdf') }}">Mon CV</a></li>
            </ul>
            <button class="hamburger" id="hamburger">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#008395" width="45" height="45" fill="currentColor"
                        class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
            </button>
        </nav>
        <div class="perso-area">
            <div class="perso-text">
                <h1><span class="typing"></span></h1>
                <!-- <div class="button">About me</div> -->
            </div>
            <div id="socials">
                <div>
                    <a href="{{ absolute_url('https://www.linkedin.com/in/florent-genestier/') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#008395" width="50" height="50"
                            viewBox="0 0 24 24">
                            <path
                                d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" />
                        </svg>
                    </a>
                </div>
                <div>
                    <a href="{{ absolute_url('https://github.com/Florent-Genestier') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#008395" width="50" height="50"
                            viewBox="0 0 24 24">
                            <path
                                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                        </svg>
                    </a>
                </div>
                <div>
                    <a href="{{ absolute_url('https://www.instagram.com/1buste1film/') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#008395" width="50" height="50"
                            viewBox="0 0 24 24">
                            <path
                                d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" />
                        </svg>
                    </a>
                </div>
                <div>
                    <a href="mailto:florentgenestier@gmail.com">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#008395" width="50" height="50"
                            viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd">
                            <path
                                d="M2.075 9.479c.266-.562.595-1.133.925-1.634v-1.845c0-3.878 3.822-6 9-6 5.316 0 9 2.043 9 6v1.845c.33.501.659 1.072.925 1.634 1.474.515 2.075 2.217 2.075 4.072 0 1.925-.896 4.738-3.317 5.188-1.959 3.492-4.877 5.261-8.683 5.261-3.805 0-6.724-1.769-8.683-5.261-2.42-.45-3.317-3.263-3.317-5.188 0-1.847.599-3.556 2.075-4.072zm19.865 3.19c-.42.306-1.038.39-1.724.204-1.538-.45-3.52-1.511-8.216-1.498-4.695-.013-6.678 1.048-8.216 1.498-.687.186-1.305.102-1.725-.205-.24 1.606.339 4.103 1.908 4.133.368.007.703.216.871.543 2.39 4.656 5.982 4.656 7.162 4.656 1.181 0 4.771 0 7.162-4.656.168-.327.503-.536.87-.543 1.853-.036 1.968-3.218 1.968-3.25 0-.324-.02-.62-.06-.882zm-6.94 4.331c-.002.007-.768 2.354-3 2.354-2.15 0-2.998-2.347-3-2.354h6zm-6.25-5c-.69 0-1.25.671-1.25 1.5 0 .828.56 1.5 1.25 1.5s1.25-.672 1.25-1.5c0-.829-.56-1.5-1.25-1.5zm7.75 1.5c0 .828-.56 1.5-1.25 1.5s-1.25-.672-1.25-1.5c0-.829.56-1.5 1.25-1.5s1.25.671 1.25 1.5zm3.01-4.254c-2.454-1.152-4.551-1.632-7.51-1.632-2.534 0-4.926.504-7.536 1.673-.337.546-.625 1.107-.79 1.522 2.904-1.005 4.789-1.439 8.326-1.426 3.64-.013 5.529.457 8.326 1.426-.17-.425-.468-1.005-.816-1.563zm-10.51-3.246h6v-3.17l-3 2-3-2v3.17zm5.996-4h-5.992l2.996 2 2.996-2z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}