<!DOCTYPE html>

<html lang="fr">
{% block head %}
<head>
    <meta charset="UTF-8" />
    <title>Florent Genestier-Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/subpage.css') }}" />
    <!-- =====BOX FONT===== -->
    <link rel="preconnect" href="{{ absolute_url('https://fonts.googleapis.com') }}">
    <link rel="preconnect" href="{{ absolute_url('https://fonts.gstatic.com') }}" crossorigin>
    <link href="{{ absolute_url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap') }}" rel="stylesheet">
  {% endblock %}
</head>
{% endblock  %}

{% block body %}
    <body>
    <nav>
        <a href="{{ path('app_portfolio_home') }}#top"><img class="logo" src="{{ asset('images/logo/lg.png') }}" alt="Flo's logo"></a>
            <ul id="nav-list">
                <li><a class="link" href="{{ path('app_portfolio_home') }}#who">Qui ?</a></li>
                <li><a class="link" href="{{ path('app_portfolio_home') }}#dev-project">Projets</a></li>
                <li><a class="link" href="{{ path('app_portfolio_recommandations') }}">Recommandations</a></li>
                <li><a class="link" href="{{ asset('pdf/CV-FlorentGenestier-Dev.pdf') }}">Mon CV</a></li>
                <button class="hamburger" id="hamburger">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#008395" width="45" height="45" fill="currentColor"
                        class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </button>
            </ul>
        </nav>
    <main>
    <section>
    <h2>La Tournichette</h2>
    <div id="container">
      <div class="slider">
      <img class="img__slider" src="{{ asset('images/slide/entree.png')}}" alt="img10" />
              <img class="img__slider"  src="{{ asset('images/slide/aubergine.png') }}" alt="img1" /> 
              <img class="img__slider" src="{{ asset('images/slide/carotte.png') }}" alt="img5" />
              <img class="img__slider" src="{{ asset('images/slide/panier.png') }}" alt="img6" />
              <img class="img__slider" src="{{ asset('images/slide/detail.png') }}" alt="img9" />
              <img class="img__slider" src="{{ asset('images/slide/paiement.png') }}" alt="img10" />
              <img class="img__slider" src="{{ asset('images/slide/ketchup.png') }}" alt="img10" />
              
        <div class="next">
          <div class="btn-navleft">←</div>
        </div>
        <div class="previous">
          <div class="btn-navright">→</div>
        </div>
      </div>
    </div>
        </section>
        <section>
            <div id="scroll">
                <a href="#top"><svg clip-rule="evenodd" fill="#dba1b9" width="40" height="40" fill-rule="evenodd" stroke-linejoin="round" 
                stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m2.014 11.998c0 5.517 4.48 9.997 9.998 9.997s9.997-4.48 9.997-9.997c0-5.518-4.479-9.998-9.997-9.998s-9.998 4.48-9.998 9.998zm6.211-1.524s1.505-1.501 3.259-3.254c.146-.147.338-.22.53-.22s.384.073.53.22c1.754 1.752 3.258 3.254 3.258 3.254.145.145.217.335.217.526 0 .192-.074.384-.221.53-.292.293-.766.295-1.057.004l-1.977-1.977v6.693c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-6.693l-1.979 1.978c-.289.289-.761.287-1.054-.006-.147-.147-.221-.339-.222-.53 0-.191.071-.38.216-.525z" 
                fill-rule="nonzero"/></svg>
                </a>
            </div>
        </section>
    </main>
       {{ include('portfolio/footer.html.twig') }}
</html>
{% endblock %}