{% block body %}
<!--===== PROJECT =====-->
<section class="sub-section-two" id="dev-project">
            <h2>Projets</h2>
            <div class="project-container">
                <div class="project-card">
                    <img class="bio" src="{{ asset('images/project/Oclockproject.jpg') }}" alt="La Tournichette" usemap="#project-one">
                    <map name="project-one">
                        <area shape="default" href="{{ path('app_portfolio_pictureProjects') }}" target="_blank" alt="image des projets" />
                    </map>
                    <h3>La Tournichette</h3>
                    <p class="subtext">Projet de fin d'étude lors de ma formation O'clock !</p>
                    <hr/>
                    <p>Un site E-Commerce à l'attention de maraîchers bio fait à 4:
                        <p class="team"><a href="https://www.linkedin.com/in/julie-pajot/">Julie(JS-React) /</a><a href="https://www.linkedin.com/in/vincent-van-nieuwenborgh-1b45a4243/"> Vincent(JS-React)</a></p>
                        <p class="team"><a href="https://www.linkedin.com/in/steve-amat/">Steve(PHP-Symfony) /</a><a href="https://www.linkedin.com/in/florent-genestier/"> et moi même !(PHP-Symfony)</a></p>
                        Nous avons élaboré le projet de A à Z, avec la conception d'un Trello, l'élaboration des users story, la création d'un MCD ainsi que d'un Wireframe.
                        <p>Technologies utilisées: Javascript, React, PHP7, Symfony 5.3, TWIG, CSS3, Bootstrap, MySQL</p>
                     </p>
                    <a href="https://github.com/Florent-Genestier"><img class="eyeglasses"
                            src="{{ asset('images/icons/eyeglasses.svg') }}"  alt="vue"></a>
                </div>
                <div class="project-card">
                    <img class="clos" src="{{ asset('images/project/leclos.jpg') }}" alt="La famille" usemap="#project-two">
                     <map name="project-two">
                    <area shape="default" href="{{ path('app_leClos_home') }}" target="_blank" alt="image des projets" />
                    </map>
                    <h3>Le Clos</h3>
                    <p class="subtext">Projet perso pour une location !</p>
                    <hr />
                    <p>Projet solo et familial afin de m'exercer:</p>
                    <p>Un site perso ayant pour but de servir de vitrine à une location familiale présente sur Airbnb avec un ajout d'une section livre d'or.</p>
                    <p>Technologies utilisées: Javascript, HTML5, CSS3, PHP7, MySQL</p>
                    <a href="https://github.com/Florent-Genestier/LeClos"><img class="eyeglasses"
                            src="{{ asset('images/icons/eyeglasses.svg') }}" alt="vue"></a>
                </div>
            </div>
            <div id="scroll">
                <a href="#top"><svg clip-rule="evenodd" fill="#dba1b9" width="40" height="40" fill-rule="evenodd" stroke-linejoin="round" 
                stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m2.014 11.998c0 5.517 4.48 9.997 9.998 9.997s9.997-4.48 9.997-9.997c0-5.518-4.479-9.998-9.997-9.998s-9.998 4.48-9.998 9.998zm6.211-1.524s1.505-1.501 3.259-3.254c.146-.147.338-.22.53-.22s.384.073.53.22c1.754 1.752 3.258 3.254 3.258 3.254.145.145.217.335.217.526 0 .192-.074.384-.221.53-.292.293-.766.295-1.057.004l-1.977-1.977v6.693c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-6.693l-1.979 1.978c-.289.289-.761.287-1.054-.006-.147-.147-.221-.339-.222-.53 0-.191.071-.38.216-.525z" 
                fill-rule="nonzero"/></svg>
                </a>
            </div>
        </section>
    </main>
{% endblock  %}