
{% block body %}
    {{ form_start(form) }}
        <div>
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        </div>
         <div>
        {{ form_label(form.firstname) }}
        {{ form_widget(form.firstname) }}
        </div>
    
    
        {{ form_label(form.message) }}
        {{ form_widget(form.message) }}
   
        {{ form_rest(form) }}
        <button type="submit">Votre avis</button>
    {{ form_end(form) }}
 
{% endblock %}
